@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'VT323', monospace;
  font-size: 18px;
}

.container {
  max-width: 80vmin;
  margin-right: auto;
  margin-left: auto;
}
